.lanyard-wrapper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  /* Disable pointer events on the wrapper so you can click the card below,
     but the Lanyard Canvas inside will intercept interactions over the 3D model */
  pointer-events: none;
}

.lanyard-wrapper canvas {
  pointer-events: auto;
}
